{% extends 'home.html' %}
{% load static %}
{% block page_content %}
<h2>
    <img src="{% static 'images/banner_contacts.png' %}" alt="Верхний большой баннер">
    <dl class="row">
        <dt class="col-sm-3">Наши номера телефонов:</dt>
        <dd class="col-sm-9"><br>+3752999999999999(Вадим)</dd>

        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9">
            <p>+375293333333 (Александр)</p>
            <p>+375291111111(Яков)</p>
        </dd>
        <dt class="col-sm-3">Токарные работы:</dt>
        <dd class="col-sm-9">
            <p>+375293333333 (Геннадий)</p>
        </dd>
        <dt class="col-sm-3">Мы в социальных сетях:</dt>
        <dd class="col-sm-9"><br>Инстаграмм</dd>

        <dt class="col-sm-3 text-truncate"></dt>
        <dd class="col-sm-9">Вайбер</dd>

        <dt class="col-sm-3 text-truncate"></dt>
        <dd class="col-sm-9">Телеграмм</dd>

        <dt class="col-sm-3">Остались вопросы?</dt>
        <dd class="col-sm-9">
            <dl class="row">
                <dt class="col-sm-4">Напишите нам!</dt>
                <dd class="col-sm-8">Адрес электронной почты</dd>
            </dl>
        </dd>
    </dl>
</h2>
{% endblock %}