<!-- html шаблон страницы выборки записей из блога по категории -->

{% extends 'home.html' %}
{% load static %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h2>Все записи по категории: {{ category }}</h2>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }}
    </small>
    {% endfor %}
    <br>
    <input type="button" onclick="history.back();" value="Назад"/>
</div>
{% endblock %}