<!-- html шаблон страницы токарных услуг -->

{% extends 'home.html' %}
{% load static %}
{% block page_content %}
<h2>
  <p class="d-lg-flex justify-content-center py-3">
    <img src="{% static 'images/banner_turning_services.png' %}" alt="Верхний большой баннер">
  </p>
</h2>
<body>

<main>
  <div class="container py-0">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">ВЫПОЛНИМ СЛЕДУЮЩИЕ ВИДЫ РАБОТ НА ТОКАРНО-ВИНТОРЕЗНОМ СТАНКЕ:</h1>
        <p><a class="btn btn-primary btn-lg" href="tel:+375292818689">ЗАКАЗАТЬ</a></p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>НАРЕЗАНИЕ РЕЗЬБЫ РЕЗЦОМ</h2>
          <p>Как наружной так и внутренней, все типов и видов.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ПРОТАЧИВАНИЕ И РАСТАЧИВАНИЕ КРУГЛЫХ ДЕТАЛЕЙ</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ТОРЦЕВАНИЕ</h2>
          <p></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>ПРОРЕЗАНИЕ ПРЯМОУГОЛЬНЫХ КАНАВОК ПОД ШПОНОЧНЫЙ ПАЗ</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>ИЗГОТОВЛЕНИЕ ВТУЛОК И ПАЛЬЦЕВ</h2>
          <p></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ПРОТОЧКА ТОРМОЗНЫХ ДИСКОВ И БАРАБАНОВ</h2>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light rounded-3">
          <h2>ИЗГОТОВЛЕНИЕ ЛЮБЫХ НЕСТАНДАРТНЫХ ДЕТАЛЕЙ</h2>
          <p>Которые можно выполнить на данном станке.</p>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
{% endblock %}
