{% extends 'home.html' %}
{% block page_content %}
<h1>Тут будет основное тело страницы</h1>
<h2>
    Url других страниц:
    <br>
    admin/,
    <br>
    '',  # Домашняя страница
    <br>
    steering_racks/,  # Страница ремонт рулевых реек
    <br>
    turning_services/, # Страница токарных услуг
    <br>
    other/, # Страница прочие услуги
    <br>
    location/, # Страница с описанием местонахождения
    <br>
    contacts/, # Страница контакты
    <br>
    blog/, # Блог СТО
    <br>
    about/, # Страница 'О нас'
    <br>
</h2>
{% endblock %}
