<!-- html шаблон домашней страницы -->

{% extends 'home.html' %}
{% load static %}
{% block page_content %}
<!-- Блок отвечающий за карусель -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                aria-current="false"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <p class="d-flex justify-content-center py-3"><img src="{% static 'images/carousel_1.png' %}"
                                                               alt="Баннер карусели 1"></p>
            <div class="container">
                <div class="carousel-caption">
                    <h1>ПРОСТО!</h1>
                    <p><b>С НАМИ ОЧЕНЬ ЛЕГКО СВЯЗАТЬСЯ</b></p>
                    <p><a class="btn btn-lg btn-primary" href="tel:+375292165496">ПОЗВОНИТЬ</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <p class="d-flex justify-content-center py-3"><img src="{% static 'images/carousel_2.png' %}"
                                                               alt="Баннер карусели 2"></p>
            <div class="container">
                <div class="carousel-caption">
                    <h1>БЫСТРО!</h1>
                    <p><b>СТО РАСПОЛОЖЕНО В ОЧЕНЬ УДОБНОМ МЕСТЕ</b></p>
                    <p><a class="btn btn-lg btn-primary" href="http://127.0.0.1:8000/location/">МЫ ТУТ!</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <p class="d-flex justify-content-center py-3"><img src="{% static 'images/carousel_3.png' %}"
                                                               alt="Баннер карусели 3"></p>
            <div class="container">
                <div class="carousel-caption">
                    <h1>КАЧЕСТВЕННО!</h1>
                    <p><b>БОЛЬШОЙ ОПЫТ РАБОТЫ С РАЗЛИЧНЫМИ АВТОМОБИЛЯМИ</b></p>
                    <p><a class="btn btn-lg btn-primary" href="http://127.0.0.1:8000/blog/">НАШ БЛОГ</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Текстовый блок -->
<div class="px-4 py-3 my-5 text-center">
    <h1 class="display-4 fw-bold">ЛЮФТ РУЛЕВОГО КОЛЕСА?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Плохо управляется авто? Тяжело удержать направление движения?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <p><a class="btn btn-lg btn-primary" href="tel:+375292165496">ЗАПИСАТЬСЯ НА РЕМОНТ</a></p>
        </div>
    </div>
</div>
<div class="px-4 py-3 my-5 text-center">
    <h1 class="display-4 fw-bold">МАСЛЯННЫЕ ПЯТНА ПОД АВТОМОБИЛЕМ?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Течет жидкость ГУР? Постоянно приходиться доливать?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <p><a class="btn btn-lg btn-primary" href="https://t.me/+375292165496" target="_blank">ПОЛУЧИТЬ
                КОНСУЛЬТАЦИЮ</a></p>
        </div>
    </div>
</div>
<div class="px-4 py-3 my-5 text-center">
    <h1 class="display-4 fw-bold">ТУГОЕ ВРАЩЕНИЕ РУЛЕВОГО КОЛЕСА?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Вождение автомобиля не приносит удовольствие?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <p><a class="btn btn-lg btn-primary" href="https://t.me/+375292165496" target="_blank">СВЯЗАТЬСЯ СО
                СПЕЦИАЛИСТОМ</a></p>
        </div>
    </div>
</div>
<div class="px-4 py-3 my-5 text-center">
    <h1 class="display-4 fw-bold">СТУК ПРИ ПРОЕЗДЕ ПО НЕРОВНОСТЯМ?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Биение и вибрация при поворотах и в движении?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <p><a class="btn btn-lg btn-primary" href="tel:+375292165496">ЗАПИСАТЬСЯ НА ВОССТАНОВЛЕНИЕ</a></p>
        </div>
    </div>
</div>

{% endblock %}
