<!-- html шаблон страницы ремонта рулевых реек -->

{% extends 'home.html' %}
{% load static %}
{% block page_content %}
<h2>
  <p class="d-lg-flex justify-content-center py-3">
    <img src="{% static 'images/banner_steering_racks.png' %}" alt="Верхний большой баннер">
  </p>
</h2>
<body>

<main>
  <div class="container py-0">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">ОСНОВНЫЕ НЕИСПРАВНОСТИ РУЛЕВОГО УПРАВЛЕНИЯ:</h1>
        <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/contacts/">ПОМОЩЬ В ДИАГНОСТИКЕ</a></p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>ЛЮФТ РУЛЕВОГО КОЛЕСА</h2>
          <p>При движении машины прямо, передние колеса не держат траекторию, из-за чего машина «ерзает» по дороге.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ТЕЧЬ ЖИДКОСТИ ГУР</h2>
          <p>Постоянное уменьшение уровня жидкости ГУР в расширительном бачке. Подтеки жидкости под машиной или на
            элементах подкапотного пространства.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>СТУК ПРИ ПРОЕЗДЕ ПО НЕРОВНОСТЯМ</h2>
          <p>Присутствует стук передней подвески, который явно «отдает на руль».</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>"ЗАКУСЫВАНИЕ" РУЛЯ"</h2>
          <p>Периодическое затруднение вращения в определенных положениях руля.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>ПОЛНАЯ ПОТЕРЯ УСИЛЕНИЯ</h2>
          <p>Особенно это заметно в начале движения, также руль сложно поворачивать во время сильных холодов.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ШУМИТ НАСОС ГИДРОУСИЛИТЕЛЯ</h2>
          <p>Руль поворачивается туго, при движении возникает посторонний свист, гул.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">НАШИ ПРЕИМУЩЕСТВА:</h1>
        <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/contacts/">ЗАПИСАТЬСЯ ПРОСТО</a></p>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ОПЕРАТИВНОСТЬ РЕМОНТА</h2>
          <p>Сделаем полный ремонт рулевой рейки за один рабочий день как со снятием так и без снятия.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>ДАДИМ ГАРАНТИЮ НА ВЫПОЛНЕННУЮ РАБОТУ</h2>
          <p>Один год при снятии рулевой рейки, пол года без снятия рулевой рейки.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>РАБОТАЕМ БЕЗ ПОСРЕДНИКОВ</h2>
          <p>Выполняем все механические работы на месте силами наших специалистов.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ЗАПЧАСТИ ВСЕГДА В НАЛИЧИИ</h2>
          <p>Большое количество запчастей и комплектующих в наличии для ремонта (сальники, пыльники, сухари поджима,
            втулки, валы и др.)</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>ПРОВЕРЯЕМ КАЧЕСТВО РЕМОНТА</h2>
          <p>Проверка рулевой рейки на стенде по всем параметрам перед установкой на автомобиль.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>БЕСПЛАТНАЯ ДИАГНОСТИКА</h2>
          <p>Проведем бесплатную диагностику и консультирование перед началом ремонта.</p>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
{% endblock %}
