{% extends 'home.html' %}
{% load static %}
{% block page_content %}
<h2>
    <img src="{% static 'images/banner_other.png' %}" alt="Верхний большой баннер">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Шиномонтаж</h2>
          <p>Шиномонтаж антураж кураж</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Замена масла</h2>
          <p>Не подмажешь, не поедешь! Двигатель маслом не испортишь!</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Настройка магнитолы</h2>
          <p>Будь как норм пацан на басах!</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 p-5 text-bg-dark rounded-3">
          <h2>Ремонт подвески</h2>
          <p>Не скрипи, дядя!</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Настройка сидений!</h2>
          <p>Вам уже не 18, берегите спину!</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Услуга 6</h2>
          <p>Текст</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2>Услуга 7</h2>
          <p>Текст</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 p-5 text-bg-dark rounded-3">
          <h2>Услуга 8</h2>
          <p>Текст</p>
        </div>
      </div>
    </div>
</h2>
{% endblock %}